/* Site-wide styles */

.App {
  text-align: center;
  background-color: #36393f;
  width: 75%;
  min-height: 100vh;
  margin: auto;
  color: #dcddde;
  overflow: auto;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  letter-spacing: 1px;
  padding: 0.5rem 0.9rem;
  font-size: calc(5px + 2vmin);
  line-height: 2;
  border-radius: 1rem;
  border-style: none;
  background-color: #b9bbbe;
  color: #36393f;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  text-align: center;

}

button:hover {
  cursor: pointer;
  background-color: #dcddde;
}

html, body, #root {
  background-color: #292b2f;
  min-height: 100vh;
}
